 <a routerLink="/" mat-button>
  <mat-icon>west</mat-icon>
  Convertiseo
 </a>
 <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Convertiseo</mat-card-title>
    <mat-card-subtitle>Convert your file</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="icon" alt="Convertiseo logo">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos exercitationem ducimus eius eaque.
      Exercitationem, iusto consectetur quia maxime quas cumque laboriosam doloremque, possimus facere saepe minima provident totam ipsum.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
